*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cont{
    max-width: 620px;
    margin: 0 auto;
}
.text{
    font-size: 46px;
    margin-left: 150px;
}
.left-right{
    display: flex;
}
.input-right{
    margin-left: 100px;
}
.input-left{
    margin-left: 10px;
}
.input-1{
    width: 200px;
    height: 45px;
    border-radius: 5px;
}
.input-2{
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #8D7FD9;
}
.block-lenght{
    display: flex;
    margin-left: 140px;
    margin-top: 10px;
}
.block-lenght p{
    padding: 5px;
}
.block-input{
    padding: 10px;   
}
.box-required{
    padding: 10px;
}
.icon-error{
    display: none;
    position: relative;
    left: 205px;
    top: -30px;
}
.icon-error-active{
    display: block;
}
.error{
    border: 3px solid red;
}
.span{
    color: gray;
}
.color{
    color: #8D7FD9;
}
.color-1-active{
    color: red;
}
.btn{
    background-color: #4300FE;
    width: 200px;
    height: 40px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 180px;
    margin-top: 30px;
}
